.swatches_cont {
    margin-top: 0.75rem;
    height: 90%;
    width: 4.5rem;
    display: grid;
    column-gap: 0.25rem;
    row-gap: 0.5rem;
    justify-items: center;
    align-content: start;
    grid-template-columns: repeat(3, 1fr);
}

.single_swatch {
    width: 1rem;
    height: 1rem;
    border-radius: 999px;
    box-shadow: 0 0 0 0.0625rem rgba(var(--color-neutral-98-rgb) / 0.7); /* fallback */
    box-shadow: 0 0 0 0.0625rem oklch(var(--color-neutral-98-oklch) / 0.7);
  }